
body {
    background-color: #222;
    /*
    padding-left: 10%;
    padding-right: 10%
    */
}

h1 {
    color: #7b7;
}
.pagelink {
    font: 24pt sans-serif;
}
.logo-title {
    float: left;
}
.logo-title img {
    width: 40pt;
    padding: 7pt;
}

.gendate {
    color: #676;
}
.article {
    border: 1px solid #333;
    margin: 2pt;
    padding: 12pt;

    width: 200pt;
    height: 220pt;

    float: left;
    overflow-y: auto;
}
.article .title {
    font: 12pt sans-serif;
}
a:link {
    color: #77f;
    text-decoration: none;
}
a:visited {
    color: #55d;
}
.article .description {
    font: 10pt sans-serif;
    color: #bbb;
    /*padding-left: 15pt;*/
}

.styleicon {
    float: right;
    clear: both;
}